.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App {
  background-color: #282828;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction:column;
}

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
