.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #434343, black);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

.container {
  flex: auto;
  display: flex;
}
.action-button  {
  margin: 0px 20px;

  padding: 12px 24px;
  border-width: 1.4px;
  border-color: white;
  background-color: transparent;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #f4f5f6;
}

.action-button:hover {
  background-color: #f4f5f6;
  transition: 0.4s;
  color: #2b2e2f !important;
}

.action-button:focus {
  color: unset;
  outline: unset;
}
