.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #404040, black);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction:column;
}

.container {
  flex: auto;
  display: flex;
}
