.customizer-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 25px;
}
.customizer-container-title {
  margin: 12px;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.item-container {
  display: inline-flex;
  background-color: white;
  border-radius: 3px;
  color: #333;
  margin-bottom: 5px;
  width: fit-content;
  max-width: 500px;
}
.item-container > button {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
}

.info-subtext {
  padding: 2px;
  font-size: 10px;
}

.info-title {
  padding: 5px 10px;
  font-weight: 800;
}

#playlist-name {
  border-bottom: white dashed 1px;
}
