.playlist-customizer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.playlist-customizer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customization-select {
  min-width: 250px;
  width: fit-content;
  color: 'white';
}
.icon-btn {
  display: flex;
  border: none;
  border-left: #ccc solid 1px;
  padding: 11px;
  background: white;
  height: 38px;
  border-radius: 0px;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.spinner {
  position: absolute;
  top: 50%;
}
