.playlist-customizer {
  color: #2b2e2f;
}
.customization-select {
  border: none;
  width: 280px;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
