.home {
  margin: 30px auto;
  width: 100%;
}


.home .spinner {
  margin-top: 30px;
  height: 50px;
  width: 50px;
}



.preview-content {
  margin-top: 20px;
}
.toast-success {
  background: linear-gradient(to bottom, white, #cfcfcf);
  color: black;
}
.toast-progress-success{
  background: linear-gradient(to right, #035123, #07bc0c);
}
