.home {
  margin: 30px auto;
}

#playlist-type-dropdown {
  border: none;
  width: 280px;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}


.preview-content {
  margin-top: 20px;
}

.home .spinner {
  margin-top: 30px;
  height: 50px;
  width: 50px;
}
