.premium-container {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.card {
  display: flex;
  box-shadow: 8px 8px #000;
  font-family: 'Roboto';
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border-radius: 7px;
  width: 330px;
  margin: 0 40px;
}

.card-header {
  letter-spacing: 1.1px;
  font-family: 'Roboto', sans-serif;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  /* background-color: #297343; */
  /* background-image: linear-gradient(#297343, #23a04f, #297343); */
  background-image: linear-gradient(#23a04f, #297343);
  padding: 15px 0px;
  color: #ddd;
}

.card-body {
  /* background-color: white; */
  background-image: linear-gradient(#bbb, white);
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 20px 0px 30px;
}
.card-body > div {
  padding: 10px 0px;
  margin-left: 30px;
  text-align: left;
}
.card-body .fa-li {
  position: inherit;
  padding: 0px 15px 0px 5px;
}

.price-tag {
  font-weight: bold;
  color: white;
  font-size: 44px;
}
.price-tag-sub {
  font-weight: light;
  font-size: 18px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #297343;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 70px;
  cursor: pointer;
}
.card-footer:hover {
  background-color: #1db954;
}
